.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.15);
}
body {
  background: url(https://media-exp1.licdn.com/dms/image/C4E12AQErPMSZQJ0ZSw/article-inline_image-shrink_1500_2232/0/1606753329187?e=1622073600&v=beta&t=Qp4bZz7MnMkcBbm3XwLdzVfuZfUqNlUJhN5wSDdjn2s);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.logo {
  font-family: "Merriweather", serif;
  color: #cc0000;
  margin-left: 16px;
  padding-top: 10x;
  margin-top: 16px;
}
.logo a {
  font-family: "Merriweather", serif;
  color: #cc0000;
  text-decoration: none;
}

.logo h2 {
  margin-top: 0px;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 30px;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 40.5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #cc0000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9 ;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.me h2 {
  color: #cc0000;
  margin-top: 0px;
  margin-bottom: 5px;
}

.me {
  color: black;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  margin-top: 700px;
  border-radius: 3.5px;
  margin-bottom: 200px;
} 

.me img {
  max-width: 20%;
  height: auto;
  display: block;
  float: left;
  padding-right: 8px; 
  padding-top: 3px;
  margin-top: 13px;
}

/* .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 200px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height: 200px;
}

.contact a {
  position: relative;
  left: 25%;
  text-decoration: none;
  color: white;
  padding: 18px;
  font-size: 18px;
  background-color: #464646;
  border-radius: 1.5px;
  font-family: "Merriweather", serif;
}

.LI-profile-badge {
  position: relative;
  right: 10%;
} */
